body{
  background-image: url("img/backpic.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.maindiv{
  width: 700px;
  height: 800px;
  margin-left: 130px;
  margin-top: 500px;
  background:
  rgba( 255, 255, 255, 0.35 );
  box-shadow:
  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:
  blur( 6px );
  -webkit-backdrop-filter:
  blur( 6px );
  border-radius:
  10px;
  border:
  1px solid rgba( 255, 255, 255, 0.18 );
}

.NNC{
  padding-top: 15px;
  padding-left: 200px;
  width: 100px;
  height: 100px;
}

.bhutuu{
  padding-top: 20px;
  padding-left: 50px;
  width: 100px;
  height: 100px;
}

.bomb{
  position: relative;
  font-size: 55px;
  letter-spacing: 15px;
  color: #0e3742;
  width: 100%;
  padding: 200px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate
{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: #0e3742;
    box-shadow: none;
  }
  18%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: #efff;
    text-shadow: 0 0 10px #03bcfa;
    0 0 20px #03bcfa,
    0 0 40px #03bcfa,
    0 0 80px #03bcfa,
    0 0 160px #03bcfa;
  }
}



